body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

nav>div>div>img {
    width: 50px;
}

h1 {
    margin: 3rem;
    text-transform: uppercase;
}

h3 {}

.nav-link {
    color: white;
    font-weight: 300;
    font-size: 150;

}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.432);
}


.navbar-brand {
    font-size: 25px;
    font-weight: 500;
    color: #6abde2;

}


.bg-img {
    width: 100%;


}

.avion,
.montaña,
.ruta {
    background-color: #6abde2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.destacados,
.contacto {
    margin: 3rem;
    text-transform: uppercase;

}

.btn {
    background-color: #6abde2;
}

.boton {
    background-color: #6abde2;
}

.container-fluid {
    background-color: #6abde2;
}

.icono-github,
.icono-link,
.icono-x,
.icono-facebook {
    display: inline-block;
    padding: 1rem;
}



.chile-travels {
    margin-top: 1rem;

    font-weight: 500;
}

.card-img-top {
    height: 200px;
}

.card-body {
    background-color: #6abde2;
}