body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

nav>div>div>img {
    width: 50px;
}

h1 {
    margin: 3rem;
    text-transform: uppercase;
}


.nav-link {
    color: #6abde2;
    font-weight: 150;
    font-size: 150;
}


.navbar-brand {
    font-size: 25px;
    font-weight: 500;
    color: #6abde2;

}


.bg-img {
    width: 100%;


}

.avion,
.montaña,
.ruta {
    background-color: #6abde2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.destacados {
    margin: 3rem;
    text-transform: uppercase;

}